/** es un comentario*/

*{
    padding: 0;
    margin: 0;
    border: 0;

}
body{
    background-color: #f2f2f2;
}

.principal,.cabecera, .menuPrincipal, .sliderPrincipal,.main, .piePagina,.contenido,.contenido2,.sponsors{
    background: #ccc;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 15px;

}


.cabecera h1{
    background-color: #F8A72F;
    box-shadow:#000 3px 2px 2px ;
}
.cabecera h1{
    color: #F60000;
    padding: 10px 20px;
    text-shadow: #000 3px 2px 2px;
}
.menuPrincipal{
    background-color: #C1C1C1;
    text-align: center;
    padding-top: 10px;
}
.menuPrincipal a{
    text-decoration: none;
    padding: 8px 10px;
    color: #F60000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0;
}

.menuPrincipal a:hover{
    background-color: #EDD502;
    color: #141414;

}
.sliderPrincipal img{
    width: 100%;

}



/* menu plato*/

.menu{
    text-align: center;
}
.h2Home{
    text-align: center;
    padding: 2em 0;
    color: #FF9900;

}
.menuPlato{
    width: 32%;
    background-color: #EDEDEE;
    border: 1px solid #EDEDEE;
    box-sizing: border-box;
    margin-bottom: 1px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.menuPlato img{
    width: 100%;
}
.menuPlato h3{
    color: #FF9900;
    padding: 1em 0;
}
.menuPlato p{
    padding: 0.2em 1em;
    font-size: 13px;
    color: #000;
}
.menuPlato  button{
    border-radius: 10px;
    background-color:#DADADA ;
    border: 1px solid;
    padding: 0.5em 1em;
    margin-bottom: 5px;
    
    
}
.alinearDerecha{
    text-align: right;
    padding: 10px 25px;
    padding-bottom: 28px;
}


.menuPlato button:hover{
    background-color: #FF9900;
}

.piePagina{
    background-color: #1D1D1D;
    
}
.piePagina H6{
    text-align: center;
    padding: 2em 0;
}


.chefs{
display: inline-flex;
}
.chefs img{
     border-radius: 50%;
    width:20%;
}
.chefs h3{

color: #FF9900;
}

.chefs p{
    width: 15%;
    padding:10px;

}

@media only screen and (max-width: 800px) {
    body {
      background-color: blue;
    }
  }


  @media only screen and (max-width: 600px) {
    
        .menuPlato{
            width: 90%;
            display: block;
            margin: 0 auto;
            margin-bottom: 15px;
        }
    
        .h2Home{
            padding: 10px;
        }

        .sliderPrincipal{
            padding-bottom: 10px;
        }
  }
